@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  --main-bg: hsl(233, 47%, 7%); 
  --card-bg: hsl(244, 38%, 16%); 
  --accent: hsl(277, 64%, 61%); 
  --heading-stats: hsl(0, 0%, 100%); 
  --main-para: hsla(0, 0%, 100%, 0.75); 
  --stat-headings: hsla(0, 0%, 100%, 0.6); 
}

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 90%; 
  background-color: var(--card-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto; 
  border-radius: 1rem;
}

.hero {
  width: 100%; 
  border-radius: 1rem;
}

.hero .mobile-hero {
  width: 100%; 
  border-radius: 1rem 1rem 0 0;
}

.desktop-hero {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.7rem; 
}

.content .text {
  text-align: center;
}

.content .text .heading {
  color: var(--heading-stats); 
  font-family: 'Inter', sans-serif;
  font-size: 1.7rem; 
  margin-bottom: 1rem;
}

.content .text .heading span {
  color: var(--accent); 
}

.content .text .desc {
  color: var(--main-para); 
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
}

.stats {
  margin-top: 2rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem; 
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
}

.stats p.stats-num {
  color: var(--heading-stats); 
  font-size: 1.5rem;
}

.stats p.stat-heading {
  color: var(--stat-headings); 
  text-transform: uppercase;
  font-size: 0.7rem; 
  margin-top: 0.4rem;
}